{% if template == 'cart' %}
<script>
  var cartBody = document.getElementById('cart-form');
  var customWork = document.getElementById('cart-custom-addition');

</script>


<div id='cart-custom-addition'>asdf</div>
{% endif %}